In [1]:
# Tell python where to look for modules. 
# Depending on how your jupyter handles working directories, this may not be needed.
import sys
sys.path.append('../../hourly-egrid/')

In [2]:
# import the necessary packages
%reload_ext autoreload
%autoreload 2

# import packages
import os
import requests
import tarfile
import sqlalchemy as sa
from pathlib import Path
import pandas as pd
import plotly.express as px
import numpy as np

import src.data_cleaning as data_cleaning
import src.gross_to_net_generation as gross_to_net_generation
import src.load_data as load_data
import src.distribute_eia923 as distribute_eia923

C:\Users\Greg\miniconda3\envs\hourly_egrid\lib\site-packages\statsmodels\compat\pandas.py:61: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import Int64Index as NumericIndex

# Specify the year for analysis

In [4]:
year = 2020

# 1. Download data

 - Downloads the pre-cleaned PUDL versions of EIA-923, EIA-860, and EPA CEMS data  
 - Downloads EPA eGRID data  
 - Downloads EIA-930 data  
 - Downloads the EPA Power Sector Data Crosswalk

TODO
- [x] The code for downloading the files could probably be made into functions
- [ ] Investigate other packages besides `requests` that would download these files faster

In [4]:
############### PUDL Database ######################

load_data.download_pudl_data(zenodo_url = 'https://zenodo.org/record/6349861/files/pudl-v0.6.0-2022-03-12.tgz')

################# eGRID data #########################

# the 2019 and 2020 data appear to be hosted on different urls
egrid_files_to_download = ['https://www.epa.gov/sites/default/files/2021-02/egrid2019_data.xlsx', 
                           'https://www.epa.gov/system/files/documents/2022-01/egrid2020_data.xlsx']

load_data.download_egrid_files(egrid_files_to_download)

############# EIA-930 data #####################

load_data.download_eia930_data(years_to_download=[year])

########## Power Sector Data Crosswalk #############
# NOTE: Check for new releases at https://github.com/USEPA/camd-eia-crosswalk

load_data.download_epa_psdc(psdc_url='https://github.com/USEPA/camd-eia-crosswalk/releases/download/v0.2.1/epa_eia_crosswalk.csv')

PUDL data already downloaded
egrid2019_data.xlsx already downloaded
egrid2020_data.xlsx already downloaded
2020_Jan_Jun data already downloaded
2020_Jul_Dec data already downloaded
epa_eia_crosswalk.csv already downloaded

# 1. Clean EIA-923 Generation and Fuel Data at the Monthly Level

In [136]:
# Distribute net generation and heat input data reported by the three different EIA-923 tables
# NOTE: this code was copied and modified from `pudl.analysis.allocate_net_gen`
# NOTE: this code allocates net generation based on the proportion of net generation reported, rather than by nameplate capacity (which eGRID does)
# NOTE: the code was modified to perform the allocation on a monthly basis, rather than an annual basis

# HIGH PRIORITIES
# DONE: remove non-grid connected plants from this dataframe
# DONE: Denormalize data by balancing authority/state. BA assignment from EIA-860
# TODO: look into whether net_gen from generation table should be preserved if available
# TODO: figure out what happens when each table has different values for net gen (allocate difference, or take precedence)
# DONE: add nuclear generators to this list
# TODO: Remove any plants located in Puerto Rico

# FUEL ASSIGNMENT
# DONE: calculate total emissions from gf based on fuel and heat input and distribute in addition to net generation and fuel consumed
# TODO: when aggregating back to generator records, keep the fuel type that accounted for most heat input
# TODO: denormalize data by fuel type both primary fuel type by generator, and primary fuel by plant (assuming that's how reported to ISOs)
# primary fuel type is currently assigned based on the annual primary fuel type. This should be changed to assign base on monthly fuel type

# NEXT PRIORITIES
# TODO: allocate heat input data from boiler_fuel_eia923() See: https://github.com/catalyst-cooperative/pudl/pull/1096
# TODO: Also distribute heat input for electricity consumption

# LOWER PRIORITIES
# TODO: fix allocation of net generation when reported net generation is negative?
# TODO: investigate generators for which frac column is not adding to 1.0

gen_fuel_allocated = distribute_eia923.allocate_gen_fuel_by_gen(year=year)

Removing 0 plants that are not grid-connected
Removing 0 plants that are not grid-connected
Removing 1 plants that are not grid-connected

c:\Users\Greg\GitHub\hourly-egrid\notebooks\../../hourly-egrid\src\distribute_eia923.py:924: UserWarning: Ooopsies. You got 1495 records where the 'frac' column isn't adding up to 1 for each 'IDX_PM_FUEL' group. Check 'calc_allocation_fraction()'
        plant_id_eia prime_mover_code energy_source_code report_date  frac  \
1326             141               ST                DFO  2020-01-01   3.0
1348             141               ST                DFO  2020-12-01   3.0
1350             141               ST                 NG  2020-01-01   3.0
1372             141               ST                 NG  2020-12-01   3.0
3259             350               ST                 NG  2020-03-01   2.0
...              ...              ...                ...         ...   ...
133878         60903               CT                 NG  2020-05-01   2.0
133885         60903               CA                 NG  2020-09-01   2.0
133886         60903               CT                 NG  2020-09-01   2.0
133887         60903               CA                 NG  2020-10-01   2.0
133888         60903               CT                 NG  2020-10-01   2.0

        net_generation_mwh_g_tbl  net_generation_mwh_gf_tbl  frac_fuel  \
1326                         0.0                        0.0        4.0
1348                         0.0                        0.0        4.0
1350                         0.0                        0.0        4.0
1372                         0.0                        0.0        4.0
3259                         0.0                        0.0        2.0
...                          ...                        ...        ...
133878                       0.0                        0.0        4.0
133885                       0.0                        0.0        4.0
133886                       0.0                        0.0        4.0
133887                       0.0                        0.0        4.0
133888                       0.0                        0.0        4.0

        net_generation_mwh_fuel  frac_pm_fuel
1326                        NaN           3.0
1348                        NaN           3.0
1350                        NaN           3.0
1372                        NaN           3.0
3259                        NaN           2.0
...                         ...           ...
133878                      NaN           2.0
133885                      NaN           2.0
133886                      NaN           2.0
133887                      NaN           2.0
133888                      NaN           2.0

[1495 rows x 10 columns]

In [133]:
# for which plants are we still missing co2 data?
gen_fuel_allocated[(gen_fuel_allocated['co2_mass_tons'].isna()) & (gen_fuel_allocated['fuel_consumed_mmbtu'] > 0)]

Empty DataFrame
Columns: [plant_id_eia, generator_id, report_date, net_generation_mwh, fuel_consumed_mmbtu, fuel_consumed_for_electricity_mmbtu, co2_mass_tons, ba_code, state, energy_source_code]
Index: []

# 2. Clean Hourly Data from CEMS
There are three broad categories of plants based on their CAMD reporting status:
1. Units that report to CAMD year-round (for these plants, emissions data is used directly from CEMS)
2. Units that only report to CAMD during the ozone season (May-Sept) (for these units, non-ozone season data is taken from EIA 923)
3. Units that do not report to CAMD (generally fossil units < 25MW and non-fossil generators)

There are also certain plants that report to CAMD but do not procuce electricty for the grid, and need to be removed from the CEMS data:
- Non grid connected plants
- Steam-only plants

In [ ]:
# NOTE: all of the functions in this section could be run by calling clean_cems()
#cems = data_cleaning.clean_cems(year)

In [135]:
# load the CEMS data
cems = load_data.load_cems_data(year)

# remove non-grid connected plants
cems = data_cleaning.remove_non_grid_connected_plants(cems)

# manually remove steam-only units
cems = data_cleaning.manually_remove_steam_units(cems)

# remove plants that only report steam generation and no electrical generation
# NOTE: keeping steam only plants for now
#cems = data_cleaning.remove_heating_only_plants(cems)

# add a report date
cems = data_cleaning.add_report_date(cems)

# identify cems reporting status (full year or partial year)
# NOTE: this information is not really useful yet, so we are not going to run this to save time
#cems = data_cleaning.determine_cems_reporting_status(cems)

# TODO: identify and remove any hourly values that appear to be outliers

# add a fuel type to each observation
cems = data_cleaning.assign_fuel_type_to_cems(cems,year)

# fill in missing hourly emissions data using the fuel type and heat input
cems = data_cleaning.fill_cems_missing_co2(cems, year)

# remove any observations from cems where zero operation is reported for an entire month
# although this data could be considered to be accurately reported, let's remove it so that we can double check against the eia data
# TODO: check if any of these observations are from geothermal generators
cems = data_cleaning.remove_cems_with_zero_monthly_data(cems)

# identify any remaining missing values
# TODO: Try to identify fuel types
still_missing_co2_data = list(cems[cems['co2_mass_tons'].isnull()]['cems_id'].unique())
print(f"Unable to calculate emissions for the following plants_units: {still_missing_co2_data}")
cems_missing_fuel = cems[cems['co2_mass_tons'].isnull()]

# For now, lets drop these from the data
cems = cems[~cems['cems_id'].isin(still_missing_co2_data)]

cems_missing_fuel

Removing 45 plants that are not grid-connected
removing 7329216 observations from cems for unit-months where no data reported
Unable to calculate emissions for the following plants_units: []

Empty DataFrame
Columns: [plant_id_eia, unitid, cems_id, operating_datetime_utc, operating_time_hours, gross_load_mw, gross_generation_mwh, steam_load_1000_lbs, heat_content_mmbtu, co2_mass_tons, co2_mass_measurement_code, plant_id_epa, unit_id_epa, report_date, energy_source_code]
Index: []

In [137]:
# identify which units are still missing a fuel type assignment
cems[cems['energy_source_code'].isnull()]

,plant_id_eia,unitid,cems_id,operating_datetime_utc,operating_time_hours,gross_load_mw,gross_generation_mwh,steam_load_1000_lbs,heat_content_mmbtu,co2_mass_tons,co2_mass_measurement_code,plant_id_epa,unit_id_epa,report_date,energy_source_code
445104,54096,X026,54096_X026,2020-07-01 06:00:00+00:00,1.0,23.0,23.0,NaN,310.899994,20.164635,<NA>,54096,88302,2020-07-01,NaN
445105,54096,X026,54096_X026,2020-07-01 07:00:00+00:00,1.0,23.0,23.0,NaN,311.000000,20.171121,<NA>,54096,88302,2020-07-01,NaN
445106,54096,X026,54096_X026,2020-07-01 08:00:00+00:00,1.0,23.0,23.0,NaN,310.600006,20.145178,<NA>,54096,88302,2020-07-01,NaN
445107,54096,X026,54096_X026,2020-07-01 09:00:00+00:00,1.0,23.0,23.0,NaN,314.600006,20.404614,<NA>,54096,88302,2020-07-01,NaN
445108,54096,X026,54096_X026,2020-07-01 10:00:00+00:00,1.0,23.0,23.0,NaN,316.000000,20.495416,<NA>,54096,88302,2020-07-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34770643,4125,8,4125_8,2021-01-01 01:00:00+00:00,0.0,0.0,0.0,NaN,0.000000,0.000000,<NA>,4125,2621,2020-12-01,NaN
34770644,4125,8,4125_8,2021-01-01 02:00:00+00:00,0.0,0.0,0.0,NaN,0.000000,0.000000,<NA>,4125,2621,2020-12-01,NaN
34770645,4125,8,4125_8,2021-01-01 03:00:00+00:00,0.0,0.0,0.0,NaN,0.000000,0.000000,<NA>,4125,2621,2020-12-01,NaN
34770646,4125,8,4125_8,2021-01-01 04:00:00+00:00,0.0,0.0,0.0,NaN,0.000000,0.000000,<NA>,4125,2621,2020-12-01,NaN
34770647,4125,8,4125_8,2021-01-01 05:00:00+00:00,0.0,0.0,0.0,NaN,0.000000,0.000000,<NA>,4125,2621,2020-12-01,NaN

In [138]:
# flag any generator-months for which we already have cems data
# NOTE: there is still an issue identifying for which generators we have cems data because of incomplete mapping
#gen_fuel_allocated = gen_fuel_allocated.drop(columns=['data_source'])
gen_fuel_allocated = data_cleaning.identify_emissions_data_source(cems, gen_fuel_allocated)

# create a separate dataframe containing only the generators for which we do not have CEMS data
monthly_eia_data_to_distribute = gen_fuel_allocated[(gen_fuel_allocated['data_source'] == 'eia_only') & ~(gen_fuel_allocated['fuel_consumed_mmbtu'].isna())]

# what percent of generators are in CEMS vs not
gen_fuel_allocated.groupby('data_source').sum() / gen_fuel_allocated.groupby('data_source').sum().sum(axis=0)

,plant_id_eia,net_generation_mwh,fuel_consumed_mmbtu,fuel_consumed_for_electricity_mmbtu,co2_mass_tons
data_source,,,,,
cems,0.122714,0.572436,0.525128,0.547364,0.83372
eia_only,0.877286,0.427564,0.474872,0.452636,0.16628

In [140]:
# convert hourly gross generation to net generation
#cems = cems.drop(columns=['net_generation_mwh','gross_to_net_ratio','net_gen_method'])
cems = data_cleaning.convert_gross_to_net_generation(cems, gen_fuel_allocated)

# for generators where there is heat input but no gross generation reported, impute hourly net generation based on reported EIA values
cems = data_cleaning.impute_missing_hourly_net_generation(cems, gen_fuel_allocated)

# what percent of net generation was allocated using each method?
cems.groupby('net_gen_method', dropna=False).sum()['net_generation_mwh'] / cems['net_generation_mwh'].sum()

net_gen_method
annual_regression            0.002535
imputed_from_heat_content    0.000852
monthly_ratio                0.994018
net_equals_gross             0.002595
Name: net_generation_mwh, dtype: float32

In [141]:
# add information about the balancing authority 
#cems = cems.drop(columns=['ba_code','state'])
cems = data_cleaning.assign_ba_code_to_plant(cems, year)

# 3. Compare Monthly data from CEMS/EIA-923
We have now identified all plants that report the full year to CEMS, and all plants that report a partial year. We will now use the EIA-923 data to fill in the missing pieces.

In [11]:
# TODO: Compare the data reported by both sources
# for plants where there is data reported in cems, see how off it is from data reported in eia
cems_plant_monthly = cems.groupby(['plant_id_eia','report_date']).sum()[['net_generation_mwh','heat_content_mmbtu','co2_mass_tons']].reset_index().rename(columns={'heat_content_mmbtu':'fuel_consumed_mmbtu'})
gf_plant_monthly = gen_fuel_allocated.groupby(['plant_id_eia','report_date']).sum().reset_index()
gf_plant_monthly = gf_plant_monthly.merge(cems_plant_monthly, how='inner', on=['plant_id_eia','report_date'], suffixes=("_eia",'_cems'))

gf_plant_monthly['pctdiff_gen'] = ((gf_plant_monthly['net_generation_mwh_cems'].replace(0,0.1) - gf_plant_monthly['net_generation_mwh_eia'].replace(0,0.1)) / gf_plant_monthly['net_generation_mwh_eia'].replace(0,0.1)).round(3)
gf_plant_monthly['pctdiff_fuel'] = ((gf_plant_monthly['fuel_consumed_mmbtu_cems'].replace(0,0.1) - gf_plant_monthly['fuel_consumed_mmbtu_eia'].replace(0,0.1)) / gf_plant_monthly['fuel_consumed_mmbtu_eia'].replace(0,0.1)).round(3)
gf_plant_monthly['pctdiff_co2'] = ((gf_plant_monthly['co2_mass_tons_cems'].replace(0,0.1) - gf_plant_monthly['co2_mass_tons_eia'].replace(0,0.1)) / gf_plant_monthly['co2_mass_tons_eia'].replace(0,0.1)).round(3)

gf_plant_monthly.sort_values(by='pctdiff_gen')

,plant_id_eia,report_date,net_generation_mwh_eia,fuel_consumed_mmbtu_eia,fuel_consumed_for_electricity_mmbtu,co2_mass_tons_eia,net_generation_mwh_cems,fuel_consumed_mmbtu_cems,co2_mass_tons_cems,pctdiff_gen,pctdiff_fuel,pctdiff_co2
11124,55641,2020-09-01,-505.00,0.0,0.0,0.00000,261056.609375,1.817727e+06,108023.497268,-517.944,1.817727e+07,1080233.973
11125,55641,2020-10-01,-972.00,0.0,0.0,0.00000,370347.375000,2.564216e+06,152387.475818,-382.016,2.564216e+07,1523873.758
11126,55641,2020-11-01,-1002.00,0.0,0.0,0.00000,141516.921875,9.632251e+05,57242.498871,-142.234,9.632250e+06,572423.989
1806,1599,2020-11-01,-751.00,7648.0,7648.0,446.94912,5321.660156,5.219627e+04,3527.146240,-8.086,5.825000e+00,6.892
4379,6035,2020-11-01,-128.92,10804.0,10804.0,631.38576,731.080017,1.051120e+04,624.776217,-6.671,-2.700000e-02,-0.010
...,...,...,...,...,...,...,...,...,...,...,...,...
3951,3804,2020-06-01,0.00,0.0,0.0,0.00000,329370.281250,2.359999e+06,140251.348182,3293701.812,2.359999e+07,1402512.482
4663,6112,2020-01-01,0.00,0.0,0.0,0.00000,337367.343750,2.632619e+06,156451.644281,3373672.438,2.632619e+07,1564515.443
10320,55382,2020-01-01,0.00,0.0,0.0,0.00000,521570.031250,3.892977e+06,231354.493562,5215699.312,3.892977e+07,2313543.936
4753,6155,2020-08-01,0.00,0.0,0.0,0.00000,773619.312500,7.606572e+06,797778.599762,7736192.125,7.606571e+07,7977784.998
0,3,2020-01-01,0.00,0.0,0.0,0.00000,778503.500000,6.699430e+06,554474.688740,7785034.000,6.699429e+07,5544745.887

In [12]:
# investigate single plants
gf_plant_monthly[gf_plant_monthly['plant_id_eia'] == 568]

,plant_id_eia,report_date,net_generation_mwh_eia,fuel_consumed_mmbtu_eia,fuel_consumed_for_electricity_mmbtu,co2_mass_tons_eia,net_generation_mwh_cems,fuel_consumed_mmbtu_cems,co2_mass_tons_cems,pctdiff_gen,pctdiff_fuel,pctdiff_co2
630,568,2020-01-01,321082.0,2196554.0,2196554.0,128369.03631,321079.0,2134729.000,126863.733692,-0.000,-0.028,-0.012
631,568,2020-02-01,314490.0,2131981.0,2131981.0,124592.96964,316838.0,2075608.625,123351.704144,0.007,-0.026,-0.010
632,568,2020-03-01,315461.0,2167222.0,2167222.0,126652.45368,317817.0,2084562.250,123881.899994,0.007,-0.038,-0.022
633,568,2020-04-01,307610.0,2104703.0,2104703.0,122998.84332,309777.0,2023535.875,120254.406723,0.007,-0.039,-0.022
634,568,2020-05-01,248270.0,1706966.0,1706966.0,99755.09304,250072.0,1641259.375,97538.890682,0.007,-0.038,-0.022
635,568,2020-06-01,319323.0,2150060.0,2150060.0,125649.50640,321356.0,2106613.750,125191.999947,0.006,-0.020,-0.004
636,568,2020-07-01,334439.0,2289373.0,2289373.0,135681.10476,334439.0,2235356.000,134392.040539,0.000,-0.024,-0.010
637,568,2020-08-01,313658.0,2145056.0,2145056.0,125372.67174,315360.0,2080005.375,123619.218920,0.005,-0.030,-0.014
638,568,2020-09-01,297688.0,2033831.0,2033831.0,118877.91504,298855.0,1977724.875,117547.462650,0.004,-0.028,-0.011
639,568,2020-10-01,192534.0,1323805.0,1323805.0,77370.25470,193806.0,1288821.125,76592.778698,0.007,-0.026,-0.010
640,568,2020-11-01,306909.0,2108737.0,2108737.0,123234.59028,308243.0,2027462.750,120490.000046,0.004,-0.039,-0.022
641,568,2020-12-01,332895.0,2285193.0,2285193.0,135166.74444,332895.0,2231218.500,133165.636662,0.000,-0.024,-0.015

# Adjust emissions
We next need to make certain adjustments to the data:
 - [ ] Calculate emissions for Geothermal plants
 - [ ] Adjust heat input/emissions from CHP plants by proportion used for electric generation
 - EPA adjusts biomass emissions, but not sure if we want to do that. Need to look into it more

In [142]:
# try using the method we used to impute net generation - adjust emissions based on proportion of heat used for electricity vs steam

# for now, let's just add a placeholder column
cems['co2_mass_tons_adjusted'] = cems['co2_mass_tons']

# Compare results to eGRID totals

Before we allocate the data to the hourly level, we should double check that the total annual emissions / generation values match the "official" data published in eGRID at the annual level.

In [143]:
# Aggregate total calculated values
###################################

# combine cems and eia data
cems_plant_annual = cems.groupby(['ba_code','state','plant_id_eia'], dropna=False).sum()[['net_generation_mwh','heat_content_mmbtu','co2_mass_tons']].rename(columns={'heat_content_mmbtu':'heat_input_mmbtu'}).reset_index()
eia_plant_annual = monthly_eia_data_to_distribute.groupby(['ba_code','state','plant_id_eia'], dropna=False).sum()[['net_generation_mwh','fuel_consumed_mmbtu','co2_mass_tons']].rename(columns={'fuel_consumed_mmbtu':'heat_input_mmbtu'}).reset_index()

plant_annual_total = pd.concat([cems_plant_annual,eia_plant_annual], axis=0)

# group any plants that have records from both datasets
plant_annual_total = plant_annual_total.groupby(['ba_code','state','plant_id_eia'], dropna=False).sum().reset_index()

# For plants that have different EPA and EIA plant IDs, the plant ID in eGRID is usually the EPA ID, but sometimes the EIA ID
# however, there are sometime 2 EIA IDs for a single eGRID ID, so we need to group the data in the EIA table by the egrid id
# We need to update all of the egrid plant IDs to the EIA plant IDs
egrid_crosswalk = pd.read_csv('../data/egrid/egrid_static_tables/2020/table_C5_crosswalk_of_EIA_ID_to_EPA_ID.csv')
eia_to_egrid_id = dict(zip(list(egrid_crosswalk['plant_id_eia']), list(egrid_crosswalk['plant_id_egrid'])))
egrid_to_eia_id = dict(zip(list(egrid_crosswalk['plant_id_egrid']), list(egrid_crosswalk['plant_id_eia'])))
plant_annual_total['plant_id_egrid'] = plant_annual_total['plant_id_eia']
plant_annual_total['plant_id_egrid'].update(plant_annual_total['plant_id_egrid'].map(eia_to_egrid_id))

# Load the eGRID plant table
############################

# load plant level data from egrid
egrid_plant = pd.read_excel(f'../data/egrid/egrid{year}_data.xlsx', 
                            sheet_name=f'PLNT{str(year)[-2:]}', 
                            header=1, 
                            usecols=['BACODE','PSTATABB', 'PLPRMFL','ORISPL', 'PNAME','PLGENATN', 'PLGENATR', 'PLHTIANT','UNCO2','PLCO2AN'])
# calculate total net generation from reported renewable and nonrenewable generation
egrid_plant['net_generation_mwh'] = egrid_plant['PLGENATN'] + egrid_plant['PLGENATR']
egrid_plant = egrid_plant.drop(columns=['PLGENATN', 'PLGENATR'])
# rename the columns
egrid_plant = egrid_plant.rename(columns={'BACODE':'ba_code',
                                          'PSTATABB':'state',
                                          'PLPRMFL':'energy_source_code',
                                          'ORISPL':'plant_id_egrid',
                                          'PNAME':'plant_name',
                                          'PLHTIANT':'heat_input_mmbtu',
                                          'UNCO2':'co2_mass_tons',
                                          'PLCO2AN':'co2_mass_tons_adjusted'})

# if egrid has a missing value for co2 for a clean plant, replace with zero
clean_fuels = ['SUN','MWH','WND', 'WAT','WH','PUR','NUC']
egrid_plant.loc[egrid_plant['energy_source_code'].isin(clean_fuels), 'co2_mass_tons_adjusted'] = egrid_plant.loc[egrid_plant['energy_source_code'].isin(clean_fuels), 'co2_mass_tons_adjusted'].fillna(0)
egrid_plant.loc[egrid_plant['energy_source_code'].isin(clean_fuels), 'co2_mass_tons'] = egrid_plant.loc[egrid_plant['energy_source_code'].isin(clean_fuels), 'co2_mass_tons'].fillna(0)

# reorder the columns                                         
egrid_plant = egrid_plant[['ba_code', 'state', 'plant_id_egrid', 'plant_name', 'net_generation_mwh', 'heat_input_mmbtu', 'co2_mass_tons', 'co2_mass_tons_adjusted']]

# remove any plants that habe no reported data
# NOTE: it seems that egrid includes a lot of proposed projects that are not yet operating, but just has missing data for them
plants_with_no_data_in_egrid = list(egrid_plant[egrid_plant[['net_generation_mwh','heat_input_mmbtu','co2_mass_tons','co2_mass_tons_adjusted']].sum(axis=1) == 0]['plant_id_egrid'])
egrid_plant = egrid_plant[~egrid_plant['plant_id_egrid'].isin(plants_with_no_data_in_egrid)]

# We also want to remove any plants that are located in Puerto Rico
egrid_plant = egrid_plant[(egrid_plant['state'] != 'PR')]

# create a column for eia id
egrid_plant['plant_id_eia'] = egrid_plant['plant_id_egrid']
egrid_plant['plant_id_eia'].update(egrid_plant['plant_id_eia'].map(egrid_to_eia_id))

## Identify plants that are missing from each dataset
Notes as of 4/21/22:
 - plant 7922 is being removed in gen_fuel_allocated because it is marked as a retired plant, and only has generation in the gf table
 - most of these other plants are being removed because they report 0 net generation, even though they have fuel consumption for electricity
 - not sure if these plants are exporting electricity to the grid. If not, it is probably safe to leave them off of the grid average emissions calculation

In [144]:
# identify any plants that are in egrid but not our totals, and any plants that are in our totals, but not egrid
plant_not_in_calc = list(set(egrid_plant['plant_id_eia'].unique()) - set(plant_annual_total['plant_id_eia'].unique()))
plants_not_in_egrid = list(set(plant_annual_total['plant_id_egrid'].unique()) - set(egrid_plant['plant_id_egrid'].unique()))

# Which plants are included in eGRID but are missing from our calculations?
missing_from_calc = egrid_plant[egrid_plant['plant_id_egrid'].isin(plant_not_in_calc)]

#missing_from_calc.to_csv('../data/temp/plants_missing_from_calcs.csv', index=False)

# see if any of these plants are retired
generators_eia860 = load_data.load_pudl_table('generators_eia860', year=year)
missing_from_calc.merge(generators_eia860.groupby('plant_id_eia')['retirement_date'].unique().reset_index(), how='left', on='plant_id_eia')

,ba_code,state,plant_id_egrid,plant_name,net_generation_mwh,heat_input_mmbtu,co2_mass_tons,co2_mass_tons_adjusted,plant_id_eia,retirement_date
0,CISO,CA,328,Borel,-204.0,NaN,0.0,0.0,328,[2017-09-01]
1,MISO,IA,7922,Brooklyn City North Plant,42.0,NaN,NaN,NaN,7922,[2011-09-01]

In [145]:
# Which plants are in our calculations, but are missing from eGRID?
plant_names = load_data.load_pudl_table('plants_entity_eia')[['plant_id_eia','plant_name_eia','sector_name_eia']]
missing_from_egrid = plant_annual_total[plant_annual_total['plant_id_eia'].isin(plants_not_in_egrid)].merge(plant_names, how='left', on='plant_id_eia')

missing_from_egrid

,ba_code,state,plant_id_eia,net_generation_mwh,heat_input_mmbtu,co2_mass_tons,plant_id_egrid,plant_name_eia,sector_name_eia
0,AECI,MO,2127,0.0000,0.00,0.000000,2127,Gallatin (MO),Electric Utility
1,AECI,MO,2141,0.0000,0.00,0.000000,2141,Macon,Electric Utility
2,AECI,MO,2146,0.0000,0.00,0.000000,2146,Monroe (MO),Electric Utility
3,AECI,MO,8110,0.0000,0.00,0.000000,8110,Stanberry,Electric Utility
4,AECI,MO,56126,0.0000,0.00,0.000000,56126,Sub 2 Generating Station,Electric Utility
...,...,...,...,...,...,...,...,...,...
358,NaN,AK,60250,0.0000,441.00,36.012060,60250,Swampy Acres Microgrid,Electric Utility
359,NaN,HI,774,0.0000,0.00,0.000000,774,Waiau Hydro,Electric Utility
360,NaN,HI,63280,0.0000,0.00,0.000000,63280,"AES Kekaha Solar, LLC Hybrid",IPP Non-CHP
361,NaN,NaN,52106,0.0000,2379781.25,139074.420255,52106,Philadelphia Refinery,Industrial CHP
362,NaN,NaN,55248,700265.0625,8503199.00,501661.662970,55248,Tait,IPP Non-CHP

In [146]:
# how many of the plants missing from egrid have non-zero data
missing_from_egrid[missing_from_egrid[['net_generation_mwh','heat_input_mmbtu','co2_mass_tons']].sum(axis=1) > 0]

,ba_code,state,plant_id_eia,net_generation_mwh,heat_input_mmbtu,co2_mass_tons,plant_id_egrid,plant_name_eia,sector_name_eia
68,CISO,CA,57714,0.000000e+00,1.00,5.844000e-02,57714,City of Palo Alto,Electric Utility
79,CISO,CA,61464,0.000000e+00,1276.00,1.041982e+02,61464,"CoreSite Real Estate 2972 Stender, L.P.",IPP Non-CHP
80,CISO,CA,61474,0.000000e+00,223.00,1.821018e+01,61474,CoreSite Real Estate 55 S. Market Street,Commercial Non-CHP
81,CISO,CA,61475,0.000000e+00,1270.00,1.037082e+02,61475,"CoreSite Real Estate 1656 McCarthy, L.P.",Commercial Non-CHP
82,CISO,CA,61476,0.000000e+00,584.00,4.768944e+01,61476,"CoreSite Real Estate 2901 Coronado, L.P.",Commercial Non-CHP
83,CISO,CA,61482,0.000000e+00,2249.00,1.836533e+02,61482,"CoreSite Real Estate 3032 Coronado, L.P.",Commercial Non-CHP
91,CPLE,NC,54316,0.000000e+00,16737.00,9.818023e+02,54316,Southport,Industrial CHP
97,DUK,NC,54363,0.000000e+00,204.00,1.665864e+01,54363,PPG Industries Inc Shelby NC W,Industrial Non-CHP
106,FMPP,FL,7997,0.000000e+00,3589.00,2.930777e+02,7997,Winston,Electric Utility
145,MISO,IA,1146,0.000000e+00,6.00,4.899600e-01,1146,Harlan,Electric Utility
149,MISO,IA,56517,0.000000e+00,12.00,9.799200e-01,56517,Pocahontas Generation,Electric Utility
159,MISO,IN,58043,0.000000e+00,202.00,1.649532e+01,58043,Lilly Technical Center,Industrial Non-CHP
165,MISO,LA,1393,1.677068e+06,25858736.00,2.821079e+06,1393,R S Nelson,Electric Utility
169,MISO,LA,51008,0.000000e+00,4217693.00,5.469460e+05,51008,Enterprise Sugar Factory,Industrial CHP
170,MISO,LA,54927,0.000000e+00,54568.00,3.188954e+03,54927,Grand Isle Gas,Industrial Non-CHP
179,MISO,MI,50318,0.000000e+00,69170000.00,4.042295e+06,50318,Parkedale Pharmaceuticals Inc,Industrial CHP
180,MISO,MI,50937,0.000000e+00,1986.00,1.621768e+02,50937,William Beaumont Hospital,Commercial Non-CHP
181,MISO,MI,54867,0.000000e+00,846706.00,8.717685e+04,54867,Kimberly Clark Corp Munising M,Industrial CHP
209,MISO,WI,54407,0.000000e+00,434972.00,2.542301e+04,54407,Waupun Correctional Inst Ctr,Commercial CHP
215,NYIS,NY,2528,0.000000e+00,3068.00,2.505329e+02,2528,Harris Lake,Electric Utility
232,NYIS,NY,61378,0.000000e+00,314.00,2.561802e+01,61378,Northern Westchester Hospital,Commercial Non-CHP
234,NYIS,NY,62447,0.000000e+00,580.00,4.736280e+01,62447,South Nassau Communities Hospital,Commercial Non-CHP
264,PJM,IL,58635,0.000000e+00,503.00,2.939532e+01,58635,Museum of Science and Industry,Commercial CHP
283,PJM,OH,2902,0.000000e+00,18.00,1.469880e+00,2902,Arcanum,Electric Utility
284,PJM,OH,2909,0.000000e+00,56.00,3.272640e+00,2909,West 41st Street,Electric Utility
300,PSEI,WA,57298,0.000000e+00,163705.00,1.064390e+04,57298,Cedar Hills,IPP Non-CHP
307,SOCO,GA,54290,0.000000e+00,93.00,7.594380e+00,54290,Inforum,Commercial Non-CHP
310,SOCO,GA,54813,0.000000e+00,336.00,2.743776e+01,54813,Shepherd Center,None
311,SOCO,GA,54818,0.000000e+00,23.00,1.878180e+00,54818,191 Peachtree Tower,Commercial Non-CHP
313,SOCO,GA,54848,0.000000e+00,60.00,4.899600e+00,54848,South Georgia Medical Center,Commercial Non-CHP
315,SOCO,GA,54906,0.000000e+00,162.00,1.322892e+01,54906,Georgia Pacific Center,Commercial Non-CHP
322,SWPP,KS,1224,0.000000e+00,120.00,9.799200e+00,1224,Bird City,Electric Utility
325,SWPP,KS,1324,0.000000e+00,3769.00,2.239523e+02,1324,Sharon Spring,Electric Utility
329,SWPP,MO,2090,0.000000e+00,2185.00,1.784271e+02,2090,Nevada,Electric Utility
335,SWPP,NE,2225,0.000000e+00,6.00,4.899600e-01,2225,Campbell,Electric Utility
354,NaN,AK,6281,0.000000e+00,1242.00,1.014217e+02,6281,Kodiak Microgrid,Electric Utility
355,NaN,AK,7723,0.000000e+00,836.00,6.826776e+01,7723,Nymans Plant Microgrid,Electric Utility
357,NaN,AK,57053,0.000000e+00,45.00,3.674700e+00,57053,Alakanuk,Electric Utility
358,NaN,AK,60250,0.000000e+00,441.00,3.601206e+01,60250,Swampy Acres Microgrid,Electric Utility
361,NaN,NaN,52106,0.000000e+00,2379781.25,1.390744e+05,52106,Philadelphia Refinery,Industrial CHP
362,NaN,NaN,55248,7.002651e+05,8503199.00,5.016617e+05,55248,Tait,IPP Non-CHP

In [147]:
# identify where there is a single egrid plant id for multiple eia plant ids
double_ids = plant_annual_total[plant_annual_total['plant_id_egrid'].duplicated(keep=False)]
double_ids = double_ids.groupby('plant_id_egrid').sum()['net_generation_mwh'].reset_index() # focus on net generation for now
# merge the egrid data
double_ids = double_ids.merge(egrid_plant[['plant_id_egrid','net_generation_mwh']], how='left', on='plant_id_egrid', suffixes=('_calc','_egrid'))
double_ids['percent_diff'] = ((double_ids['net_generation_mwh_calc'] - double_ids['net_generation_mwh_egrid']) / double_ids['net_generation_mwh_egrid']).round(3)
double_ids

,plant_id_egrid,net_generation_mwh_calc,net_generation_mwh_egrid,percent_diff
0,562,2.955757e+05,295534.003,0.0
1,762,1.313200e+04,13132.000,0.0
2,1416,3.497026e+06,3497026.000,0.0
3,2709,5.829410e+06,5829409.996,0.0
4,3612,4.045388e+06,4045388.003,-0.0
5,4076,1.105390e+05,110539.000,0.0
6,10474,6.704110e+05,670410.997,0.0
7,55306,8.487498e+06,8487498.000,0.0
8,55375,5.447419e+06,5447419.084,-0.0
9,55481,7.276336e+06,7276336.000,0.0
10,55508,2.284100e+04,22841.000,-0.0

## Identify plants for which we are missing a BA assignment
(of the plants not already missing from our calculated totals)

In [148]:
ba_code_match = egrid_plant.set_index('plant_id_eia')[['plant_name','ba_code']].merge(plant_annual_total.set_index('plant_id_eia')[['ba_code']], how='inner', left_index=True, right_index=True, suffixes=("_egrid",'_calc'))

# plants with missing ba code
ba_code_match[(ba_code_match['ba_code_calc'].isna()) & ~(ba_code_match['ba_code_egrid'].isna())]

Empty DataFrame
Columns: [plant_name, ba_code_egrid, ba_code_calc]
Index: []

## Identify plants for which we have incorrectly assigned the BA code

In [149]:
# plants with incorrect ba code
ba_code_match[(ba_code_match['ba_code_calc'] != ba_code_match['ba_code_egrid']) & ~(ba_code_match['ba_code_calc'].isna())]

Empty DataFrame
Columns: [plant_name, ba_code_egrid, ba_code_calc]
Index: []

## Identify where our calculated totals do not match eGRID's totals

In [156]:
# standardize column names and index so that the two dfs can be divided
calculated_to_compare = plant_annual_total.groupby('plant_id_egrid').sum().drop(columns=['plant_id_eia'])

# create an adjusted co2 column
# TODO: remove this once we calculate adjusted emissions
calculated_to_compare['co2_mass_tons_adjusted'] = calculated_to_compare['co2_mass_tons']

# drop the plants that have no data in eGRID
egrid_plant = egrid_plant[~egrid_plant['plant_id_eia'].isin(plants_with_no_data_in_egrid)]

egrid_to_compare = egrid_plant.set_index(['plant_id_egrid']).drop(columns=['ba_code','state','plant_name','plant_id_eia'])

# divide calculated value by egrid value
compared = calculated_to_compare.div(egrid_to_compare).merge(egrid_plant[['plant_id_egrid','plant_name','ba_code', 'state']], how='left', left_index=True, right_on='plant_id_egrid').set_index('plant_id_egrid')
compared['plant_name'] = compared['plant_name'].fillna('unknown')

# create a dataframe that merges the two sources of data together
compared_merged = calculated_to_compare.merge(egrid_to_compare, how='outer', on='plant_id_egrid', suffixes=('_calc','_egrid'))

# for each column, change missing values to zero if both values are zero (only nan b/c divide by zero)
for col in ['net_generation_mwh','heat_input_mmbtu','co2_mass_tons_adjusted','co2_mass_tons']:
    # identify plants with zero values for both
    plant_ids = list(compared_merged[(compared_merged[f'{col}_calc'] == 0) & (compared_merged[f'{col}_egrid'] == 0)].index)
    compared.loc[compared.index.isin(plant_ids), col] = 1

# for each column, categorize the data based on how far it is off from egrid
for col in ['net_generation_mwh','heat_input_mmbtu','co2_mass_tons_adjusted','co2_mass_tons']:
    # add a new column
    compared[f'{col}_status'] = pd.cut(x=compared[col], 
                                       bins=[-999999999,0,0.5,0.9,0.99,0.9999,1,1.0001,1.01,1.1,1.5,999999999], 
                                       labels=['negative','<50%','+/-50%','+/-10%','+/-1%','!exact','!exact','+/-1%','+/-10%','+/-50%','>50%'], 
                                       ordered=False)
    # replace any missing values with missing
    compared[f'{col}_status'] = compared[f'{col}_status'].astype(str)  
    compared[f'{col}_status'] = compared[f'{col}_status'].fillna('missing')
    compared[f'{col}_status'] = compared[f'{col}_status'].replace('nan','missing')
    compared.loc[(compared.index.isin(plants_not_in_egrid)),f'{col}_status'] = 'not_in_egrid'

# identify which plants are missing from egrid vs calculated values
for col in ['net_generation_mwh','heat_input_mmbtu','co2_mass_tons_adjusted','co2_mass_tons']:
    # identify plants that are missing in egrid
    plants_missing_egrid = list(compared_merged[(compared_merged[f'{col}_calc'] > 0) & (compared_merged[f'{col}_egrid'].isna())].index)
    compared.loc[compared.index.isin(plants_missing_egrid), f'{col}_status'] = 'missing_in_egrid'
    # identify plants that are missing from our calculations
    plants_missing_calc = list(compared_merged[(compared_merged[f'{col}_calc'].isna()) & (compared_merged[f'{col}_egrid'] > 0)].index)
    compared.loc[compared.index.isin(plants_missing_calc), f'{col}_status'] = 'missing_in_calc'
    # identify where our calculations are missing a zero value
    plants_missing_zero_calc = list(compared_merged[(compared_merged[f'{col}_calc'].isna()) & (compared_merged[f'{col}_egrid'] == 0)].index)
    compared.loc[compared.index.isin(plants_missing_zero_calc), f'{col}_status'] = 'missing_zero_in_calc'
    # identify where egrid has a missing value instead of a zero
    plants_missing_zero_egrid = list(compared_merged[(compared_merged[f'{col}_calc'] == 0) & (compared_merged[f'{col}_egrid'].isna())].index)
    compared.loc[compared.index.isin(plants_missing_zero_egrid), f'{col}_status'] = 'missing_zero_in_egrid'
    # identify where egrid has a zero value where we have a positive value
    plants_incorrect_zero_egrid = list(compared_merged[(compared_merged[f'{col}_calc'] > 0) & (compared_merged[f'{col}_egrid'] == 0)].index)
    compared.loc[compared.index.isin(plants_incorrect_zero_egrid), f'{col}_status'] = '>50%'

# create a dataframe that counts how many plants are in each category
comparison_count = []
for col in ['net_generation_mwh','heat_input_mmbtu','co2_mass_tons_adjusted','co2_mass_tons']:
    count = compared.groupby(f'{col}_status', dropna=False).count()['plant_name'].rename(col)
    count.index = count.index.rename('status')
    comparison_count.append(count)

comparison_count = pd.concat(comparison_count, axis=1).fillna(0).astype(int)
comparison_count = pd.concat([comparison_count, pd.DataFrame(comparison_count.sum().rename('Total')).T], axis=0)   
comparison_count

,net_generation_mwh,heat_input_mmbtu,co2_mass_tons_adjusted,co2_mass_tons
!exact,9863,8115,7413,8283
+/-1%,22,596,641,797
+/-10%,48,305,393,437
+/-50%,54,269,316,282
<50%,11,5,3,9
>50%,7,741,1152,110
missing,1,2,1,1
missing_in_calc,2,1,1,1
missing_in_egrid,3,58,165,165
missing_zero_in_egrid,361,324,328,328
negative,46,2,4,4
missing_zero_in_calc,0,0,1,1
Total,10418,10418,10418,10418

In [157]:
print(comparison_count.to_markdown())

|                       |   net_generation_mwh |   heat_input_mmbtu |   co2_mass_tons_adjusted |   co2_mass_tons |
|:----------------------|---------------------:|-------------------:|-------------------------:|----------------:|
| !exact                |                 9863 |               8115 |                     7413 |            8283 |
| +/-1%                 |                   22 |                596 |                      641 |             797 |
| +/-10%                |                   48 |                305 |                      393 |             437 |
| +/-50%                |                   54 |                269 |                      316 |             282 |
| <50%                  |                   11 |                  5 |                        3 |               9 |
| >50%                  |                    7 |                741 |                     1152 |             110 |
| missing               |                    1 |                  2 |                        1 |               1 |
| missing_in_calc       |                    2 |                  1 |                        1 |               1 |
| missing_in_egrid      |                    3 |                 58 |                      165 |             165 |
| missing_zero_in_egrid |                  361 |                324 |                      328 |             328 |
| negative              |                   46 |                  2 |                        4 |               4 |
| missing_zero_in_calc  |                    0 |                  0 |                        1 |               1 |
| Total                 |                10418 |              10418 |                    10418 |           10418 |

In [158]:
# examine specific plants in a category
value = 'net_generation_mwh'
status = '>50%'

#compared_merged.loc[64877,:]

compared[compared[f'{value}_status'] == status].sort_values(by=value)

,net_generation_mwh,heat_input_mmbtu,co2_mass_tons,co2_mass_tons_adjusted,plant_name,ba_code,state,net_generation_mwh_status,heat_input_mmbtu_status,co2_mass_tons_adjusted_status,co2_mass_tons_status
plant_id_egrid,,,,,,,,,,,
1599,1.626186,0.996860,0.996665,0.996665,Canal Station,ISNE,MA,>50%,+/-1%,+/-1%,+/-1%
2707,1.642643,1.003219,1.095939,1.095939,Blewett,CPLE,NC,>50%,+/-1%,+/-10%,+/-10%
335,1.856021,0.987818,0.987818,0.987818,AES Huntington Beach,CISO,CA,>50%,+/-10%,+/-10%,+/-10%
7288,2.060279,2.016973,1.999260,1.999260,Sherman Avenue,PJM,NJ,>50%,>50%,>50%,>50%
60698,2.154015,0.993232,0.992273,0.992273,Stanton Energy Reliability Center,CISO,CA,>50%,+/-1%,+/-1%,+/-1%
58256,2.660714,1.000000,1.000000,1.000000,Los Alamos PV Site,PNM,NM,>50%,!exact,!exact,!exact
52089,5.031182,8.388590,0.999923,8.387940,Celanese Acetate LLC,PJM,VA,>50%,>50%,>50%,!exact

## Notes

Net generation < 50%:
 - 2617 has negative net generation
 - 10444, 59395: some plants are hybrid fossil / solar plants, but the primary energy source code is getting listed as PV for certain generators, which is causing an issue

Net generation > 50%:
 - for plants where net generation ratio = 2.00, the generation was imputed, so the net generation should match exactly. Ignore these. (10867, 50900)
 - plant 2504 has three units (120, 121, 122) that don't appear in EIA, and in CEMS only report steam. 
 - 335 has two extra units (CT1 and CT2) that report to CEMS but not EIA. Likely correct
 - 1404 reports generation to CEMS in December, but not to EIA. This is likely correct
 - 7288 reports DFO to CEMS, but NG to EIA - there's probably some generators not reporting
 - 52193 should be fixed once steam allocation fixed
 - 60698 double counting generation from cEMS because of 90% heat threhshold in a month - might be fixed once we tackle heat input
 - 58256 is a solar/hybrid and in generators_entity_eia the battery portion is associated with a separate generator id (should only be 1)
 - 50933 the net generation reported is not being allocated correctly in EIA

Other:
 - plant 3754 has heat input in cems and eia that don't match
 - 2401 has generation in both cems and eia
 - 50933 might have allocation issue (doesn't appear in CEMS)

In [159]:
egrid_plant[egrid_plant['plant_id_eia'] == 50933]

,ba_code,state,plant_id_egrid,plant_name,net_generation_mwh,heat_input_mmbtu,co2_mass_tons,co2_mass_tons_adjusted,plant_id_eia
12476,MISO,WI,50933,Rhinelander Mill,3045.0,129378.81,169927.852,1387.709,50933

In [160]:
plant_annual_total[plant_annual_total['plant_id_eia'] == 50933]

,ba_code,state,plant_id_eia,net_generation_mwh,heat_input_mmbtu,co2_mass_tons,plant_id_egrid
5984,MISO,WI,50933,3045.0,2283310.0,169926.4344,50933

In [126]:
gen_fuel_allocated[gen_fuel_allocated['plant_id_eia'] == 50933]

,plant_id_eia,generator_id,report_date,net_generation_mwh,fuel_consumed_mmbtu,fuel_consumed_for_electricity_mmbtu,co2_mass_tons,ba_code,state,energy_source_code,data_source
126440,50933,GEN5,2020-01-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126441,50933,GEN5,2020-02-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126442,50933,GEN5,2020-03-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126443,50933,GEN5,2020-04-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126444,50933,GEN5,2020-05-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126445,50933,GEN5,2020-06-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126446,50933,GEN5,2020-07-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126447,50933,GEN5,2020-08-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126448,50933,GEN5,2020-09-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126449,50933,GEN5,2020-10-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126450,50933,GEN5,2020-11-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126451,50933,GEN5,2020-12-01,NaN,NaN,NaN,NaN,MISO,WI,NG,eia_only
126452,50933,GEN6,2020-01-01,-309.435,155253.00,2700.00,15984.84888,MISO,WI,BIT,eia_only
126453,50933,GEN6,2020-02-01,1909.192,162585.00,12360.00,16739.75160,MISO,WI,BIT,eia_only
126454,50933,GEN6,2020-03-01,1067.618,127460.00,8155.00,13123.28160,MISO,WI,BIT,eia_only
126455,50933,GEN6,2020-04-01,1410.013,152640.00,10338.00,15715.81440,MISO,WI,BIT,eia_only
126456,50933,GEN6,2020-05-01,0.000,0.00,0.00,0.00000,MISO,WI,BIT,eia_only
126457,50933,GEN6,2020-06-01,0.000,0.00,0.00,0.00000,MISO,WI,BIT,eia_only
126458,50933,GEN6,2020-07-01,0.000,0.00,0.00,0.00000,MISO,WI,BIT,eia_only
126459,50933,GEN6,2020-08-01,0.000,0.00,0.00,0.00000,MISO,WI,BIT,eia_only
126460,50933,GEN6,2020-09-01,0.000,0.00,0.00,0.00000,MISO,WI,BIT,eia_only
126461,50933,GEN6,2020-10-01,-1940.972,72643.00,1042.00,7479.32328,MISO,WI,BIT,eia_only
126462,50933,GEN6,2020-11-01,-4056.240,130907.00,0.00,13478.18472,MISO,WI,BIT,eia_only
126463,50933,GEN6,2020-12-01,-1138.631,163514.00,9385.00,16835.40144,MISO,WI,BIT,eia_only
126464,50933,HYD1,2020-01-01,297.500,2610.00,2610.00,0.00000,MISO,WI,WAT,eia_only
126465,50933,HYD1,2020-02-01,234.500,2057.25,2057.25,0.00000,MISO,WI,WAT,eia_only
126466,50933,HYD1,2020-03-01,222.500,1952.00,1952.00,0.00000,MISO,WI,WAT,eia_only
126467,50933,HYD1,2020-04-01,241.750,2120.75,2120.75,0.00000,MISO,WI,WAT,eia_only
126468,50933,HYD1,2020-05-01,272.500,2390.75,2390.75,0.00000,MISO,WI,WAT,eia_only
126469,50933,HYD1,2020-06-01,280.750,2463.00,2463.00,0.00000,MISO,WI,WAT,eia_only
126470,50933,HYD1,2020-07-01,205.750,1805.00,1805.00,0.00000,MISO,WI,WAT,eia_only
126471,50933,HYD1,2020-08-01,235.250,2063.75,2063.75,0.00000,MISO,WI,WAT,eia_only
126472,50933,HYD1,2020-09-01,289.750,2542.00,2542.00,0.00000,MISO,WI,WAT,eia_only
126473,50933,HYD1,2020-10-01,291.500,2557.25,2557.25,0.00000,MISO,WI,WAT,eia_only
126474,50933,HYD1,2020-11-01,287.500,2522.25,2522.25,0.00000,MISO,WI,WAT,eia_only
126475,50933,HYD1,2020-12-01,322.250,2827.00,2827.00,0.00000,MISO,WI,WAT,eia_only
126476,50933,HYD2,2020-01-01,297.500,2610.00,2610.00,0.00000,MISO,WI,WAT,eia_only
126477,50933,HYD2,2020-02-01,234.500,2057.25,2057.25,0.00000,MISO,WI,WAT,eia_only
126478,50933,HYD2,2020-03-01,222.500,1952.00,1952.00,0.00000,MISO,WI,WAT,eia_only
126479,50933,HYD2,2020-04-01,241.750,2120.75,2120.75,0.00000,MISO,WI,WAT,eia_only
126480,50933,HYD2,2020-05-01,272.500,2390.75,2390.75,0.00000,MISO,WI,WAT,eia_only
126481,50933,HYD2,2020-06-01,280.750,2463.00,2463.00,0.00000,MISO,WI,WAT,eia_only
126482,50933,HYD2,2020-07-01,205.750,1805.00,1805.00,0.00000,MISO,WI,WAT,eia_only
126483,50933,HYD2,2020-08-01,235.250,2063.75,2063.75,0.00000,MISO,WI,WAT,eia_only
126484,50933,HYD2,2020-09-01,289.750,2542.00,2542.00,0.00000,MISO,WI,WAT,eia_only
126485,50933,HYD2,2020-10-01,291.500,2557.25,2557.25,0.00000,MISO,WI,WAT,eia_only
126486,50933,HYD2,2020-11-01,287.500,2522.25,2522.25,0.00000,MISO,WI,WAT,eia_only
126487,50933,HYD2,2020-12-01,322.250,2827.00,2827.00,0.00000,MISO,WI,WAT,eia_only
126488,50933,HYD3,2020-01-01,595.000,5220.00,5220.00,0.00000,MISO,WI,WAT,eia_only
126489,50933,HYD3,2020-02-01,469.000,4114.50,4114.50,0.00000,MISO,WI,WAT,eia_only
126490,50933,HYD3,2020-03-01,445.000,3904.00,3904.00,0.00000,MISO,WI,WAT,eia_only
126491,50933,HYD3,2020-04-01,483.500,4241.50,4241.50,0.00000,MISO,WI,WAT,eia_only
126492,50933,HYD3,2020-05-01,545.000,4781.50,4781.50,0.00000,MISO,WI,WAT,eia_only
126493,50933,HYD3,2020-06-01,561.500,4926.00,4926.00,0.00000,MISO,WI,WAT,eia_only
126494,50933,HYD3,2020-07-01,411.500,3610.00,3610.00,0.00000,MISO,WI,WAT,eia_only
126495,50933,HYD3,2020-08-01,470.500,4127.50,4127.50,0.00000,MISO,WI,WAT,eia_only
126496,50933,HYD3,2020-09-01,579.500,5084.00,5084.00,0.00000,MISO,WI,WAT,eia_only
126497,50933,HYD3,2020-10-01,583.000,5114.50,5114.50,0.00000,MISO,WI,WAT,eia_only
126498,50933,HYD3,2020-11-01,575.000,5044.50,5044.50,0.00000,MISO,WI,WAT,eia_only
126499,50933,HYD3,2020-12-01,644.500,5654.00,5654.00,0.00000,MISO,WI,WAT,eia_only

In [72]:
cems_unit_monthly = cems.groupby(['plant_id_eia','unitid','report_date']).sum().reset_index()

In [122]:
cems_unit_monthly[cems_unit_monthly['plant_id_eia'] == 50933]

Empty DataFrame
Columns: [plant_id_eia, unitid, report_date, operating_time_hours, gross_load_mw, gross_generation_mwh, steam_load_1000_lbs, heat_content_mmbtu, co2_mass_tons, plant_id_epa, net_generation_mwh, gross_to_net_ratio, co2_mass_tons_adjusted]
Index: []

In [123]:
cems[cems['plant_id_eia'] == 50933]

Empty DataFrame
Columns: [plant_id_eia, unitid, cems_id, operating_datetime_utc, operating_time_hours, gross_load_mw, gross_generation_mwh, steam_load_1000_lbs, heat_content_mmbtu, co2_mass_tons, co2_mass_measurement_code, plant_id_epa, unit_id_epa, report_date, energy_source_code, net_generation_mwh, gross_to_net_ratio, net_gen_method, ba_code, state, co2_mass_tons_adjusted]
Index: []

[0 rows x 21 columns]

In [74]:
cems_plant_annual[cems_plant_annual['plant_id_eia'] == 10867]

,ba_code,state,plant_id_eia,net_generation_mwh,heat_input_mmbtu,co2_mass_tons
453,MISO,IL,10867,386348.0,4476574.0,478769.577792

In [27]:
cems[cems['plant_id_eia'] == 61242]['cems_id'].unique()

array(['61242_CT1', '61242_CT2'], dtype=object)

In [64]:
cems_plant_annual[cems_plant_annual['net_generation_mwh'] == 0]

,ba_code,state,plant_id_eia,net_generation_mwh,heat_input_mmbtu,co2_mass_tons
108,CISO,CA,57073,0.0,4.767792e+05,2.814200e+04
109,CISO,CA,57074,0.0,4.847860e+05,2.860230e+04
110,CISO,CA,57075,0.0,4.808632e+05,2.837380e+04
125,CPLE,NC,2707,0.0,7.067434e+03,5.720210e+02
127,CPLE,NC,2716,0.0,1.681283e+04,1.361799e+03
...,...,...,...,...,...,...
1245,SWPP,OK,10671,0.0,1.097756e+07,1.146946e+06
1297,TVA,MS,55076,0.0,2.602014e+07,2.829756e+06
1311,TVA,TN,50296,0.0,6.330312e+05,7.015885e+04
1312,TVA,TN,50956,0.0,1.904276e+06,1.112859e+05
1337,NaN,NaN,52106,0.0,2.379781e+06,1.390744e+05

In [52]:
monthly_eia_data_to_distribute[monthly_eia_data_to_distribute['plant_id_eia'] == 2878]

,plant_id_eia,generator_id,report_date,net_generation_mwh,fuel_consumed_mmbtu,co2_mass_tons,ba_code,state,energy_source_code_1,data_source
54665,2878,CT,2020-01-01,6.523,175.0,14.29050,PJM,OH,DFO,eia_only
54666,2878,CT,2020-02-01,8.268,204.0,16.65864,PJM,OH,DFO,eia_only
54667,2878,CT,2020-03-01,5.057,123.0,10.04418,PJM,OH,DFO,eia_only
54668,2878,CT,2020-04-01,5.608,140.0,11.43240,PJM,OH,DFO,eia_only
54669,2878,CT,2020-05-01,7.415,181.0,14.78046,PJM,OH,DFO,eia_only
54670,2878,CT,2020-06-01,8.124,198.0,16.16868,PJM,OH,DFO,eia_only
54671,2878,CT,2020-07-01,11.762,292.0,23.84472,PJM,OH,DFO,eia_only
54672,2878,CT,2020-08-01,7.017,175.0,14.29050,PJM,OH,DFO,eia_only
54673,2878,CT,2020-09-01,4.330,105.0,8.57430,PJM,OH,DFO,eia_only
54674,2878,CT,2020-10-01,9.504,233.0,19.02678,PJM,OH,DFO,eia_only
54675,2878,CT,2020-11-01,6.880,169.0,13.80054,PJM,OH,DFO,eia_only
54676,2878,CT,2020-12-01,5.512,134.0,10.94244,PJM,OH,DFO,eia_only

In [174]:
# there are some plants that report heat input and co2 in CEMS, but are missing net generation data
# TODO: we should maybe try and fill net generation data using EIA-923?
cems_plant_annual[cems_plant_annual['net_generation_mwh'] == 0]

,ba_code,state,plant_id_eia,net_generation_mwh,heat_input_mmbtu,co2_mass_tons
108,CISO,CA,57073,0.0,4.767792e+05,28141.999997
109,CISO,CA,57074,0.0,4.847860e+05,28602.299972
110,CISO,CA,57075,0.0,4.808632e+05,28373.799968
125,CPLE,NC,2707,0.0,7.067434e+03,572.020997
127,CPLE,NC,2716,0.0,1.681283e+04,1361.799019
265,FPC,FL,7294,0.0,5.400395e+03,321.151797
319,ISNE,CT,56189,0.0,1.051138e+04,858.359701
374,ISNE,VT,3734,0.0,3.513840e+03,284.729996
375,ISNE,VT,3754,0.0,7.887080e+03,639.309984
747,PJM,DE,591,0.0,1.516640e+03,122.799997
748,PJM,DE,592,0.0,4.198200e+02,34.282501
751,PJM,DE,597,0.0,1.169969e+03,95.539668
764,PJM,IL,886,0.0,6.505611e+03,526.799996
945,PJM,VA,52089,0.0,3.810732e+06,222699.194533

In [172]:
cems[cems['plant_id_eia'] == 57073]

,plant_id_eia,unitid,cems_id,operating_datetime_utc,operating_time_hours,gross_load_mw,gross_generation_mwh,steam_load_1000_lbs,heat_content_mmbtu,co2_mass_tons,...,plant_id_epa,unit_id_epa,report_date,cems_reporting_category,energy_source_code,ba_code,state,net_generation_mwh,gross_to_net_ratio,net_gen_method
1749864,57073,BLR1,57073_BLR1,2020-01-01 08:00:00+00:00,1.0,0.0,0.0,NaN,51.900002,3.1,...,57073,90614,2020-01-01,full_year,SUN,CISO,CA,0.0,inf,monthly_ratio
1749865,57073,BLR1,57073_BLR1,2020-01-01 09:00:00+00:00,1.0,0.0,0.0,NaN,53.000000,3.1,...,57073,90614,2020-01-01,full_year,SUN,CISO,CA,0.0,inf,monthly_ratio
1749866,57073,BLR1,57073_BLR1,2020-01-01 10:00:00+00:00,1.0,0.0,0.0,NaN,51.900002,3.1,...,57073,90614,2020-01-01,full_year,SUN,CISO,CA,0.0,inf,monthly_ratio
1749867,57073,BLR1,57073_BLR1,2020-01-01 11:00:00+00:00,1.0,0.0,0.0,NaN,51.900002,3.1,...,57073,90614,2020-01-01,full_year,SUN,CISO,CA,0.0,inf,monthly_ratio
1749868,57073,BLR1,57073_BLR1,2020-01-01 12:00:00+00:00,1.0,0.0,0.0,NaN,51.900002,3.1,...,57073,90614,2020-01-01,full_year,SUN,CISO,CA,0.0,inf,monthly_ratio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3542323,57073,BLR1,57073_BLR1,2021-01-01 03:00:00+00:00,0.0,0.0,0.0,NaN,0.000000,0.0,...,57073,90614,2020-12-01,full_year,SUN,CISO,CA,0.0,inf,monthly_ratio
3542324,57073,BLR1,57073_BLR1,2021-01-01 04:00:00+00:00,0.0,0.0,0.0,NaN,0.000000,0.0,...,57073,90614,2020-12-01,full_year,SUN,CISO,CA,0.0,inf,monthly_ratio
3542325,57073,BLR1,57073_BLR1,2021-01-01 05:00:00+00:00,0.0,0.0,0.0,NaN,0.000000,0.0,...,57073,90614,2020-12-01,full_year,SUN,CISO,CA,0.0,inf,monthly_ratio
3542326,57073,BLR1,57073_BLR1,2021-01-01 06:00:00+00:00,0.0,0.0,0.0,NaN,0.000000,0.0,...,57073,90614,2020-12-01,full_year,SUN,CISO,CA,0.0,inf,monthly_ratio
3542327,57073,BLR1,57073_BLR1,2021-01-01 07:00:00+00:00,0.0,0.0,0.0,NaN,0.000000,0.0,...,57073,90614,2020-12-01,full_year,SUN,CISO,CA,0.0,inf,monthly_ratio

## Compare data at BA level

In [161]:
# load egrid BA totals
egrid_ba = pd.read_excel(f'../data/egrid/egrid{year}_data.xlsx', sheet_name=f'BA{str(year)[-2:]}', header=1, usecols=['BANAME','BACODE','BAHTIANT','BANGENAN','BACO2AN'])
# rename the columns
egrid_ba = egrid_ba.rename(columns={'BANAME':'ba_name',
                                    'BACODE':'ba_code',
                                    'BAHTIANT':'heat_input_mmbtu',
                                    'BANGENAN':'net_generation_mwh',
                                    'BACO2AN':'co2_mass_tons'})

# divide our calculation by the BA totals from eGRID
# if there are 0 values, replace with 0.1, so that div by zero doesn't return missing value
ba_metric = plant_annual_total.groupby('ba_code', dropna=False).sum().drop(columns='plant_id_eia').replace(0,0.1).div(egrid_ba.set_index('ba_code').drop(columns='ba_name').replace(0,0.1)).sort_values(by='co2_mass_tons').round(3)

total = pd.DataFrame(plant_annual_total[['net_generation_mwh','heat_input_mmbtu','co2_mass_tons']].sum().div(egrid_ba[['net_generation_mwh','heat_input_mmbtu','co2_mass_tons']].sum()).rename('Total')).T

# calculate the difference in the number of plants in each region
plant_count = (plant_annual_total.groupby('ba_code', dropna=False).count()['plant_id_egrid'] - egrid_plant.groupby('ba_code', dropna=False).count()['plant_id_egrid']).rename('num_plants')
ba_metric = ba_metric.merge(plant_count, how='left', left_index=True, right_index=True).drop(columns=['plant_id_egrid'])

ba_metric = pd.concat([ba_metric, total], axis=0) 

ba_metric = ba_metric[['net_generation_mwh','heat_input_mmbtu','co2_mass_tons','num_plants']]

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(ba_metric)

       net_generation_mwh  heat_input_mmbtu  co2_mass_tons  num_plants
NaN              0.309000          0.349000       0.298000         9.0
TEPC             0.697000          0.818000       0.859000         0.0
PGE              1.000000          0.916000       0.913000         5.0
DEAA             1.000000          0.997000       0.997000         0.0
TIDC             1.000000          0.998000       0.998000         0.0
GRIF             1.000000          0.999000       0.999000         0.0
CSTO             1.000000          1.000000       1.000000         0.0
OVEC             1.000000          1.000000       1.000000         0.0
LGEE             1.000000          1.000000       1.000000         0.0
NSB              1.000000          1.000000       1.000000         0.0
SPA              1.000000          1.000000       1.000000         1.0
CEA              1.000000          1.000000       1.000000         0.0
WWA              1.000000          1.000000       1.000000         0.0
HGMA             1.000000               NaN       1.000000         NaN
GWA              1.000000          1.000000       1.000000         0.0
GRIS             1.000000          1.000000       1.000000         0.0
WAUW             1.000000          1.000000       1.000000         0.0
GCPD             1.000000          1.000000       1.000000         0.0
YAD              1.000000          1.000000       1.000000         0.0
DOPD             1.000000          1.000000       1.000000         0.0
CPLW             1.000000          1.000000       1.000000         0.0
CHPD             1.000000          1.000000       1.000000         0.0
WALC             1.000000          1.000000       1.000000         1.0
SEC              1.000000          0.999000       1.001000         0.0
WACM             1.000000          1.001000       1.001000         4.0
EEI              1.000000          1.004000       1.002000         0.0
AECI             1.000000          1.003000       1.003000         6.0
AVRN             1.000000          1.001000       1.003000         0.0
FMPP             1.000000          1.001000       1.006000         1.0
PNM              1.000000          1.004000       1.013000         2.0
AEC              1.000000          1.006000       1.018000         0.0
PSCO             1.009000          1.014000       1.028000         3.0
EPE              1.000000          1.024000       1.030000         0.0
TEC              1.000000          1.000000       1.036000         1.0
NEVP             0.996000          1.042000       1.047000         3.0
PACE             1.000000          1.060000       1.053000         4.0
LDWP             1.000000          1.054000       1.057000         8.0
NWMT             1.000000          1.043000       1.064000         1.0
HST              1.000000          1.000000       1.068000         0.0
AZPS             1.005000          1.070000       1.076000         1.0
BANC             0.999000          1.040000       1.080000         2.0
FPL              1.000000          1.445000       1.091000         3.0
HECO             1.000000          1.025000       1.092000         2.0
SWPP             0.998000          1.141000       1.101000        26.0
DUK              0.998000          2.491000       1.104000         5.0
TAL              1.000000          1.108000       1.112000         0.0
TVA              0.985000          1.853000       1.112000         2.0
ERCO             0.999000          1.262000       1.129000         5.0
PJM              0.990000          1.727000       1.131000        38.0
FPC              0.993000          1.097000       1.206000         1.0
SCEG             0.985000          1.666000       1.268000         2.0
SC               1.000000          1.163000       1.283000         1.0
MISO             0.996000          1.433000       1.293000        68.0
NYIS             0.983000          1.614000       1.300000        31.0
JEA              1.000000          1.261000       1.403000         0.0
SOCO             1.002000          1.538000       1.411000        15.0
GVL              1.010000          1.009000       1.432000         0.0
CISO             1.000000          1.247000       1.469000        72.0
PSEI             1.000000          1.280000       1.489000         1.0
ISNE             1.001000          1.583000       1.502000        21.0
SRP              1.093000          3.052000       1.504000         4.0
IPCO             1.000000          1.063000       1.527000         0.0
CPLE             0.973000          2.765000       1.757000         8.0
BPAT             1.000000          1.205000       1.808000         8.0
IID              1.000000          1.053000       1.996000         1.0
PACW             1.000000          1.096000       2.178000         3.0
AVA              1.000000          1.245000       3.451000         1.0
SCL              1.000000          1.029000      28.353000         0.0
NBSO             1.000000          2.611000      33.916000         0.0
TPWR             1.000000          1.321000     189.152000         0.0
AMPL             1.000000          1.000000    1883.532000         0.0
SEPA             1.000000          1.016000  441182.804000         1.0
Total            0.991221          1.402461       1.184797         NaN

In [162]:
print(ba_metric.to_markdown())

|       |   net_generation_mwh |   heat_input_mmbtu |   co2_mass_tons |   num_plants |
|:------|---------------------:|-------------------:|----------------:|-------------:|
| nan   |             0.309    |            0.349   |          0.298  |            9 |
| TEPC  |             0.697    |            0.818   |          0.859  |            0 |
| PGE   |             1        |            0.916   |          0.913  |            5 |
| DEAA  |             1        |            0.997   |          0.997  |            0 |
| TIDC  |             1        |            0.998   |          0.998  |            0 |
| GRIF  |             1        |            0.999   |          0.999  |            0 |
| CSTO  |             1        |            1       |          1      |            0 |
| OVEC  |             1        |            1       |          1      |            0 |
| LGEE  |             1        |            1       |          1      |            0 |
| NSB   |             1        |            1       |          1      |            0 |
| SPA   |             1        |            1       |          1      |            1 |
| CEA   |             1        |            1       |          1      |            0 |
| WWA   |             1        |            1       |          1      |            0 |
| HGMA  |             1        |          nan       |          1      |          nan |
| GWA   |             1        |            1       |          1      |            0 |
| GRIS  |             1        |            1       |          1      |            0 |
| WAUW  |             1        |            1       |          1      |            0 |
| GCPD  |             1        |            1       |          1      |            0 |
| YAD   |             1        |            1       |          1      |            0 |
| DOPD  |             1        |            1       |          1      |            0 |
| CPLW  |             1        |            1       |          1      |            0 |
| CHPD  |             1        |            1       |          1      |            0 |
| WALC  |             1        |            1       |          1      |            1 |
| SEC   |             1        |            0.999   |          1.001  |            0 |
| WACM  |             1        |            1.001   |          1.001  |            4 |
| EEI   |             1        |            1.004   |          1.002  |            0 |
| AECI  |             1        |            1.003   |          1.003  |            6 |
| AVRN  |             1        |            1.001   |          1.003  |            0 |
| FMPP  |             1        |            1.001   |          1.006  |            1 |
| PNM   |             1        |            1.004   |          1.013  |            2 |
| AEC   |             1        |            1.006   |          1.018  |            0 |
| PSCO  |             1.009    |            1.014   |          1.028  |            3 |
| EPE   |             1        |            1.024   |          1.03   |            0 |
| TEC   |             1        |            1       |          1.036  |            1 |
| NEVP  |             0.996    |            1.042   |          1.047  |            3 |
| PACE  |             1        |            1.06    |          1.053  |            4 |
| LDWP  |             1        |            1.054   |          1.057  |            8 |
| NWMT  |             1        |            1.043   |          1.064  |            1 |
| HST   |             1        |            1       |          1.068  |            0 |
| AZPS  |             1.005    |            1.07    |          1.076  |            1 |
| BANC  |             0.999    |            1.04    |          1.08   |            2 |
| FPL   |             1        |            1.445   |          1.091  |            3 |
| HECO  |             1        |            1.025   |          1.092  |            2 |
| SWPP  |             0.998    |            1.141   |          1.101  |           26 |
| DUK   |             0.998    |            2.491   |          1.104  |            5 |
| TAL   |             1        |            1.108   |          1.112  |            0 |
| TVA   |             0.985    |            1.853   |          1.112  |            2 |
| ERCO  |             0.999    |            1.262   |          1.129  |            5 |
| PJM   |             0.99     |            1.727   |          1.131  |           38 |
| FPC   |             0.993    |            1.097   |          1.206  |            1 |
| SCEG  |             0.985    |            1.666   |          1.268  |            2 |
| SC    |             1        |            1.163   |          1.283  |            1 |
| MISO  |             0.996    |            1.433   |          1.293  |           68 |
| NYIS  |             0.983    |            1.614   |          1.3    |           31 |
| JEA   |             1        |            1.261   |          1.403  |            0 |
| SOCO  |             1.002    |            1.538   |          1.411  |           15 |
| GVL   |             1.01     |            1.009   |          1.432  |            0 |
| CISO  |             1        |            1.247   |          1.469  |           72 |
| PSEI  |             1        |            1.28    |          1.489  |            1 |
| ISNE  |             1.001    |            1.583   |          1.502  |           21 |
| SRP   |             1.093    |            3.052   |          1.504  |            4 |
| IPCO  |             1        |            1.063   |          1.527  |            0 |
| CPLE  |             0.973    |            2.765   |          1.757  |            8 |
| BPAT  |             1        |            1.205   |          1.808  |            8 |
| IID   |             1        |            1.053   |          1.996  |            1 |
| PACW  |             1        |            1.096   |          2.178  |            3 |
| AVA   |             1        |            1.245   |          3.451  |            1 |
| SCL   |             1        |            1.029   |         28.353  |            0 |
| NBSO  |             1        |            2.611   |         33.916  |            0 |
| TPWR  |             1        |            1.321   |        189.152  |            0 |
| AMPL  |             1        |            1       |       1883.53   |            0 |
| SEPA  |             1        |            1.016   |     441183      |            1 |
| Total |             0.991221 |            1.40246 |          1.1848 |          nan |

# Assign monthly data to hourly profile
We now, in theory, have complete data on national-level heat input, net generation, and emissions, from a combination of two sources:
    1. hourly data from CEMS
    2. momthly data for generators that don't report to CEMS

For the second category of monthly data, we need to figure out how to allocate the monthly level data to each hour.

In [ ]:
# categorize generators by broad fuel categories (clean, geothermal, biofuel, fossil)
clean_fuels = ['SUN','MWH','WND', 'WAT','WH','PUR','NUC']
fossil_fuels = ['NG', 'DFO','OG','WDS','BIT','OTH','PC','SUB', 'LIG','KER', 'RC', 'WO','RFO', 'WC', 'SGC', 'SGP', 'PG', 'JF','BFG']
bio_fuels = ['AB','BG','BLQ','DG','LFG','MSB','MSW','OBG','OBL','OBS','SLW','WDL','WDS']
geo_fuel = ['GEO']
# TODO: Figure out what to do with MSW

# Output data 

Save data to a CSV so we can separate generation of and analysis of hourly e-grid numbers